trigger:
  branches:
    include:
      - main

pool:
  vmImage: ubuntu-latest

steps:
  - checkout: self

  - task: Maven@4
    inputs:
      mavenPomFile: pom.xml
      goals: clean package
      jdkVersionOption: '17'
