trigger:
  branches:
    include:
      - main

pool:
  name: Default

steps:
  - checkout: self
    clean: true

  - script: |
      set -e
      echo "=== JAVA ==="
      java --version
      echo "JAVA_HOME=$JAVA_HOME"
      echo "=== Maven"
      mvn --version
      echo "=== Build"
      mvn -B clean test package
    displayName: Build with system Java/Maven

  - task: CopyFiles@2
    displayName: "Collect JAR(s)"
    inputs:
      SourceFolder: "$(System.DefaultWorkingDirectory)"
      Contents: "**/target/*.jar"
      TargetFolder: "$(Build.ArtifactStagingDirectory)"

  - task: PublishPipelineArtifact@1
    displayName: "Publish deployable JAR artifact"
    inputs:
      targetPath: "$(Build.ArtifactStagingDirectory)"
      artifact: "jar"
      publishLocation: "pipeline"
